<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css">
         <div id="card">
          <img id="one" src="https://vfcity-prod.sbmurban.org/static/media/glasses-icon.994a4de177065596633e1879922e8d1a.svg" alt="">
           <div id="txt1">
            <h1>SWACHH</h1>
            <h1>SURVEKSHAN</h1>
            <h2>2023</h2>
            <h2>(Morena)</h2>
           </div>
          <img id="two" src="https://vfcity-prod.sbmurban.org/static/media/illustration.ab3806887bd40fc5f0425bcfdd789b9f.svg" alt="">
          
          <div id="txt2">
            <h3>Municipal Corporation Morena</h3>
          <h4>(Madhya Pradesh)</h4>
          </div>
          <a href="/informationPage"><button>Get Started</button></a>
         </div>
 
  <% include ./partials/footer.ejs %>