<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/selectlang.css">
<div id="card">
    <h3>Language</h3>
    <select id="language" class="SelectLanguage_languageSelectBox__n5r93"><option class="text-center">Select language</option><option value="en" class="text-center" text="English">English</option><option value="hi" class="text-center" text="Hindi">हिंदी</option></select>
    <h4>Not Selected</h4>
    <div id="txt">
        <p>Swachh Survekshan 2023 is a survey conducted by the Government of India`s Ministry of Housing and Urban Affairs (MoHUA). It covers every single city in India. One important component of Swachh Survekshan 2023 is getting your feedback on the progress your city has made in achieving SWACHHATA around your residence and in your neighborhood.</p>

          <p>The Ministry greatly appreciates the time you are taking to give us your valuable feedback. Your participation in Swachh Survekshan 2023 will help make it a great success.        </p>            

          <p>This survey is completely anonymous. It is designed to prevent your identity being disclosed to anyone including the Ministry or any other government agency.</p>
    </div>
    <a href="/informationPage"><button type="submit">Continue</button></a>
</div>









<% include ./partials/footer.ejs %>
