<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/survey.css" />

<div>
   <form action="/test" method="post">
  <div class="container">
    <div class="Survey_mainWrapper__M60Lx">
      <div id="parentScrollDiv">
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ1</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आपके घर से हर दिन कचरा इकट्ठा किया जाता है?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3">
              <input id="inpt1" required type="radio" name="FQ1" value="Y" /><span>हाँ</span></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input  id="inpt1"  required type="radio" name="FQ1" value="N" /><span>नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ2</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आप अपने घर में कचरे को अलग-अलग करते हैं (गीला और सूखा)?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required  type="radio" name="FQ2" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ2" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ3</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आपके नगर के नाले या ड्रेन्स दृश्यमान रूप से साफ हैं?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ3" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ3" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ4</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आप अपने शहर में RRR (कूड़ा कम उत्पन्न करें, पुनः उपयोग करें और
            रीसाइकल करें) केंद्र के बारे में जागरूक हैं?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ4" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ4" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ5</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आपने हाल ही में अपने शहर में कोई सामुदायिक शौचालय / सार्वजनिक
            शौचालय (CT / PT) का उपयोग किया है?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ5" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ5" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ6</p>
          <p class="Survey_questionDesc__slbE6">
            क्या शहर में सामुदायिक शौचालय / सार्वजनिक शौचालय स्वच्छ और अच्छी तरह
            से रखे गए हैं?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ6" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ6" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ7</p>
          <p class="Survey_questionDesc__slbE6">
            क्या आपको ज्ञात है कि आप डिजिटल मानचित्रों/मैप पर नजदीकी सामुदायिक
            शौचालय / सार्वजनिक शौचालय (CT / PT) को खोज सकते हैं?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ7" value="Y" /><span
                >हाँ</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ7" value="N" /><span
                >नहीं</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ8</p>
          <p class="Survey_questionDesc__slbE6">
            आप अपने आस-पड़ोस की साफ-सफाई को कितना रेट करेंगे?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ8" value="VS" /><span
                >बहुत संतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ8" value="S" /><span
                >संतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ8" value="NU" /><span
                >निष्पक्ष</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ8" value="U" /><span
                >असंतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input required type="radio" name="FQ8" value="VU" /><span
                >बहुत असंतुष्ट</span
              ></label
            >
          </div>
        </div>
        <div class="Survey_questionWrapper__UMWN5">
          <p class="Survey_questionTitle__6gX8X">FQ9</p>
          <p class="Survey_questionDesc__slbE6">
            आप अपने शहर की समग्र स्वच्छता को कितना रेट करेंगे?
          </p>
          <div class="Survey_options__KdBHf">
            <label class="Survey_twoOptionLabel__x1BW3"
              ><input type="radio" name="FQ9" value="VS" /><span
                >बहुत संतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input type="radio" name="FQ9" value="S" /><span
                >संतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input type="radio" name="FQ9" value="NU" /><span
                >निष्पक्ष</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input type="radio" name="FQ9" value="U" /><span
                >असंतुष्ट</span
              ></label
            ><label class="Survey_twoOptionLabel__x1BW3"
              ><input type="radio" name="FQ9" value="VU" /><span
                >बहुत असंतुष्ट</span
              ></label
            >
          </div>
        </div>
      </div>
    
    </div>
    <div class="Survey_bottomButtonWrapper__NB7lq">
      <button type="submit">Submit</button>
    </div>
  </div>
  
</div>
</form>

<% include ./partials/footer.ejs %>

  