<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/thanks.css">
<div id="card">
    <h1>Thank You!</h1>

<img src="https://vfcity-prod.sbmurban.org/static/media/ThankYou.1e5c83c6a5cd17e79b8d.png" alt="">
<p>Your participation is helping to make our country cleaner and better</p>
<button>close</button>
</div>

<% include ./partials/footer.ejs %>